.global-alert
{
	width: 300px;
	height: 50px;
	display: none;
	position: fixed;
	top: 7%;
	left: 50%;
	margin-top: -25px;
	margin-left: -150px;
	background-color: #dff0d8;
	color: #468847;
	border-color: #d6e9c6;
	font-weight: bold;
	z-index: 1032;
	border-radius: 5px;
}

.global-alert .alert
{
	margin: 0 auto;
	padding-top: 15px;
	text-align: center;
}

.global-alert 
{
	display: none;
}
.google_maps p iframe{
	margin: 0; 
	border: 1px solid #ccc !important;
	padding: 2px;
}

.sbtn
{
	display: inline-block;
	padding: 6px 12px;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	touch-action: manipulation;
	cursor: pointer;

	border: 1px solid transparent;
	/*float: none;*/	
	font-size: 14px;

	border-radius: 4px;
	/*line-height: 40px;*/

}

.sbtn-normal
{
	background-color: #3188ac;
	color: #fff !important;
	border-color: #2e6da4;
}

.center-block 
{
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
}