.modal-wrapper
{
	background: none;
	height: 0;

	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;

	/*height: 60px;
	background: rgba(29,29,29,0.7);*/
	z-index: 99;
	text-align: center;
}

.modal-inner
{
	position: relative;
	width: 100%;
}

.modal-box
{
	width: 100%;
	display: none;
	position: absolute;
	bottom: -10px;
	left: 0;
	background: #eee;
	z-index: 99;
	overflow: scroll;
	padding-bottom: 24px;
}

.m-modal-close
{
	text-align: right;
	margin: 8px 14px 0 0;
	padding-top: 24px;
	cursor: pointer;
}

.m-modal-close span
{
	padding: 2px 12px;
	background: #bbb;
	color: #fff;
}

.position-f
{
	position: fixed;
}

.detail-info
{
	height: auto;
	padding: 4px 16px;
	text-align: left;
}

.detail-table table
{
	width: 100%;
	margin: 8px 0 16px;

	background: #fff;
	/*border-collapse: collapse;*/
	border: 1px solid #7fb5cc;
	/*word-break: break-word;*/
}

/*.detail-table th:first-child 
{
	margin-top: -1px;
}*/
/*.detail-table tr th, .detail-table tr td
{
	border-bottom: 1px solid #7fb5cc;
}
*/

.detail-table th 
{
	display: block;
	/*border: 0;*/
	/*border-top: 1px solid #7fb5cc;*/
	border-bottom: 1px solid #7fb5cc;

	background-color: #f2f7fa;
	font-weight: bold;
	padding: 5px 8px;
	min-width: 90px;
}

.detail-table td 
{
	background: #fff;
	/*border-collapse: collapse;*/
	/*border: 1px solid #7fb5cc;
	border-top: none;*/
	border-bottom: 1px solid #7fb5cc;
	/*word-break: break-word;*/
	font-size: 12px;
	padding: 5px 8px;
}