/*
 * SimpleModal Basic Modal Dialog
 * http://simplemodal.com
 *
 * Copyright (c) 2013 Eric Martin - http://ericmmartin.com
 *
 * Licensed under the MIT license:
 *   http://www.opensource.org/licenses/mit-license.php
 */
#modalDeleteConfirm, #modalConfirmDialog, #modalChangeStatusConfirm
{
	display: none;
}

#basic-modal-content {display:none;}

/* Overlay */
#simplemodal-overlay {background-color:#000; z-index: 1031 !important;}

/* Container */
/*#simplemodal-container {height:360px; width:600px; color:#bbb; background-color:#333; border:4px solid #444; padding:12px;}
#simplemodal-container .simplemodal-data {padding:8px;}
#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a {color:#ddd;}
#simplemodal-container a.modalCloseImg {background:url(../../img/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-container h3 {color:#84b8d9;}*/

#simplemodal-container {z-index: 1032 !important; height:150px; width:900px; color:#444; background-color:#fff; border:1px solid #fff; padding:12px;}
#simplemodal-container .simplemodal-data {padding:10px;}
#simplemodal-container a.modalCloseImg {background:url(../../img/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}

#simplemodal-container p 
{
	font-size: 1.2em;
	text-align: center;	
}

#simplemodal-container ul 
{
	margin: 20px auto 0;
	width: 200px;	
}

#simplemodal-container ul li
{
	list-style: none;
}

#simplemodal-container ul li:first-child
{
	float: left;
}

#simplemodal-container ul li:first-child + li
{
	float: right;
}
