a
{
	color: #0088cc;
	text-decoration: none;
}	

a:hover, a:focus
{
	color: #005580 ;
	text-decoration: underline;
}

.errorMessage
{
	color: #C21734 !important;
}

/*alert*/
.sl-alert.alert-success
{
	color: green;
	margin: 20px 0px;
}


/*mobile menu*/
.mobile-menu-space
{
	min-height: 20px;
}

/*added by Klaus*/
@media ( max-width: 1200px){
	#sb-site
	{
		padding-left: 20px;
		padding-right: 20px;
	}	
}


.m-logo img
{
	display: block;
	margin: 0 auto;
}

.sb-bar
{
	background-color: #537b9f;
	min-height: 50px;
}

.navbar-left
{
	float: left;
	padding: 14px;
	background-color: #537b9f;
}

.navbar-right
{
	float: right;
	padding: 14px;
	background-color: #537b9f;
}


/*left side menu*/
.accordion
{
	line-height: 2em;
	color: #3b5998;
}

.accordion dt
{
	font-size: 13px !important;
}

.accordion dd
{
	margin: 0 0 0 10px;
}

.attribute-list
{
	color: #3b5998;
}

/*checkout page*/
.checkout-list
{
	color: #757575;
}

.checkout-cart
{
	margin-top: 20px;
}

.save-cart-item
{
	margin-bottom: 20px;
}

.checkout-shipping-detail div
{
	padding-top: 5px;
	padding-bottom: 5px;
}

/*articles*/
.article img
{
	margin: 0 auto;
}

.article h4
{
	margin-bottom: 10px;
}

.article .created-date
{
	float: right;
}

.post-image
{
	float: left;
	margin: 5px 10px 10px 0 !important;
	padding:1px;
   	border:1px solid #B3B3B3;
}

.post-content
{
	padding-left: 20px;
}

.post-content p
{
	margin-top: 0px;
}

.view-more
{
	float: right;
}


/*.article .header:after
{
	clear: both;
}*/


/*header */
header .flash-banner
{
	display: block;
	width: 960px;
	height: 180px;
	background: url('../img/flash-banner.png') no-repeat left top;
	position: relative;
}

header .flash-banner .logo
{
	position: absolute;
	top: 10px;
	left: 10px;

	display: block;
	width: 54px;
	height: 54px;
	background: url('../img/logo.png') no-repeat left top;
}

.top-bar span.language
{
	margin-right: 5px;
}

#checkout-form .label-input
{
	padding-top: 20px;
}

#checkout-form .label-input span
{
	/*margin: auto 0;
	vertical-align: middle;*/
}

/*FOOTER*/
.contact-item
{
	/*padding-left: 20px;*/
	text-transform: lowercase; 
	line-height: 30px;
}

footer .icon
{
  padding-left: 35px;   
  line-height: 30px;
}

.icon-bank-account
{
  background: url("../img/ba.png") no-repeat;
}

.icon-contact
{
  background: url("../img/contact.png") no-repeat;
}

.icon-cellphone
{
  background: url("../img/cellphone.png") no-repeat;
}

.icon-email
{
  background: url("../img/email.png") no-repeat;
}


/*PRODUCT SELECTION*/
.product-selection .selection-attribute
{
	padding: 0 10px;
}

.product-selection .selection-quantity
{
	margin: 20px 0px;	
}

.product-selection  .title
{
	color: #4b4b4b;
    font-family: 'PT Serif',serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.688em;
}

.product-selection .product-name
{
	color: #4b4b4b;
    font-family: 'PT Serif',serif;
    font-weight: bold;
    text-transform: uppercase;

    margin: 10px 0px;
}

.product-selection .selection-error, .product-selection .numeric-error
{
	margin-top: 10px;
	color: #C21734;
    font-family: 'PT Serif',serif;
    font-size: 12px;
    text-transform: none;
    display: none;
}

.product-selection .selection-quantity input[type="text"]
{
	/*border: 1px solid #cfcfcf;*/
	padding-left: 3px;
	margin: 0 20px;
}


/*CHECKOUT*/
.payment-method
{
	margin: 20px 0 10px 0;
}

.payment-method input[type="radio"]
{
	margin-left: 10px;
}

/*FB COMMENTS*/
.fb_comment_block
{
	/*width: 70%;*/
	margin: 20px auto 0 auto;
}

@media ( min-width: 1300px){
	.fb_comment_block
	{
		width: 70%;
	}
}

/*COMMON*/
.clearFix{
	clear: both;
}
.margin-0{
	margin: 0!important;
}
.help-block{
	color: #f56954 !important;
}
ul .child{
	display: none;
}
.sub-menu ul li:hover ul{
	display: block;
}