/*http://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/*/

.global-alert
{
	width: 300px;
	height: 50px;
	display: none;
	position: fixed;
	top: 7%;
	left: 50%;
	margin-top: -25px;
	margin-left: -150px;
	z-index: 1032;
}

.global-alert .delete-success
{
	display: none;
}

.clearFix
{
	clear: both;
	min-height: 1px;
	display: block;
}

.clearFix:after
{
	content: ".";
	display: block;
	height: 0;
	font-size: 0;
	clear: both;
	visibility: hidden;
}

/*image list*/

#image-list
{
	padding: 10px;
}

#image-list .caption ul 
{
	list-style: none;
	width: 110px;
	padding: 0;
	margin: 0 auto;
}

#image-list .caption ul li
{
	display: inline;
}

#image-list .caption ul > li:first-child
{
	float: left;
}

#image-list .caption ul > li:first-child + li
{
	float: right;
}

#image-list .caption ul.desc
{
	margin: 5px auto;
}

#image-list .pop-content
{
	display: none;
	/*width: 500px;*/
}

#image-list .popover
{
	width: 600px !important;
}

/*#image-list .popover-content form
{
	position: absolute;
}*/


/*editor toolbar*/
.btn-toolbar
{
	margin-bottom: 10px;
}