a
{
	color: #0088cc;
	text-decoration: none;
}	

a:hover, a:focus
{
	color: #005580 ;
	text-decoration: underline;
}

/*left side menu*/
.accordion
{
	line-height: 2em;
	color: #3b5998;
}

.accordion dt
{
	font-size: 13px !important;
}


/*checkout page*/
.checkout-list
{
	color: #757575;
}

.checkout-cart
{
	margin-top: 20px;
}

.checkout-shipping-detail div
{
	padding-top: 5px;
	padding-bottom: 5px;
}

/*articles*/
.article img
{
	margin: 0 auto;
}

.article h4
{
	margin-top: 0px;
}

.article .created-date
{
	float: right;
}

/*.article .header:after
{
	clear: both;
}*/


/*header */
header .flash-banner
{
	display: block;
	width: 960px;
	height: 180px;
	background: url('../img/flash-banner.png') no-repeat left top;
	position: relative;
}

header .flash-banner .logo
{
	position: absolute;
	top: 10px;
	left: 10px;

	display: block;
	width: 54px;
	height: 54px;
	background: url('../img/logo.png') no-repeat left top;
}

.top-bar span.language
{
	margin-right: 5px;
}


